## v8.2
*.lnk
!/apps/*.lnk
_editzz_*
.DS_Store
.idea
Thumbs.db
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes


*-content/cache/
*/*-content/cache/
*/*/*-content/cache/
*-content/ewww/
*/*-content/ewww/
*/*/*-content/ewww/
*-content/upgrade/
*/*-content/upgrade/
*/*/*-content/upgrade/
*-content/wflogs/
*/*-content/wflogs/
*/*/*-content/wflogs/
*-content/plugins/ewww-image-optimizer/debug.log
*/*-content/plugins/ewww-image-optimizer/debug.log
*/*/*-content/plugins/ewww-image-optimizer/debug.log
*-content/uploads/revslider/templates/
*/*-content/uploads/revslider/templates/
*/*/*-content/uploads/revslider/templates/
*-content/uploads/fusion-scripts/
*/*-content/uploads/fusion-scripts/
*/*/*-content/uploads/fusion-scripts/
*-content/uploads/fusion-styles/
*/*-content/uploads/fusion-styles/
*/*/*-content/uploads/fusion-styles/
*-content/uploads/gravity_forms/
*/*-content/uploads/gravity_forms/
*/*/*-content/uploads/gravity_forms/
*-content/uploads/wc-logs/
*/*-content/uploads/wc-logs/
*/*/*-content/uploads/wc-logs/
*-content/uploads/GeoIP.dat
*/*-content/uploads/GeoIP.dat
*/*/*-content/uploads/GeoIP.dat
*-content/uploads/GeoIPv6.dat
*/*-content/uploads/GeoIPv6.dat
*/*/*-content/uploads/GeoIPv6.dat
*-content/uploads/GeoLite2-Country.mmdb
*/*-content/uploads/GeoLite2-Country.mmdb
*/*/*-content/uploads/GeoLite2-Country.mmdb
*-content/wp-rocket-config/
*/*-content/wp-rocket-config/
*/*/*-content/wp-rocket-config/
*-content/plugins/wp-rocket/cache.json
*/*-content/plugins/wp-rocket/cache.json
*/*/*-content/plugins/wp-rocket/cache.json
*-content/advanced-cache.php
*/*-content/advanced-cache.php
*/*/*-content/advanced-cache.php
/addons/
/apps/inc/bower_components/
/apps/inc/vendor/
/apps/node_modules/
/cgi-bin/
/addons_sub/
/s/
/zzFiles/_sql_CAREFUL/**/_db_*.sql*
/zzFiles/_sql_CAREFUL/**/*_winscp.txt
!/zzFiles/_sql_CAREFUL/_db_export_*.sql
!/zzFiles/_sql_CAREFUL/_db_import_*.sql
/apps/files/_sql_CAREFUL/**/_db_*.sql*
/apps/files/_sql_CAREFUL/**/*_winscp.txt
!/apps/files/_sql_CAREFUL/_db_export_*.sql
!/apps/files/_sql_CAREFUL/_db_import_*.sql
*-content/themes/Avada/framework/plugins/**/*.zip
*/*-content/themes/Avada/framework/plugins/**/*.zip
*/*/*-content/themes/Avada/framework/plugins/**/*.zip
*-content/themes/Avada/includes/plugins/**/*.zip
*/*-content/themes/Avada/includes/plugins/**/*.zip
*/*/*-content/themes/Avada/includes/plugins/**/*.zip

*error_log*
___root
error_log
log.htm
access_log
_php.log

## ROOT only
*/
*/*
.*
*.*
access-logs
www

!_apps/
!_apps/*

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.htaccess
!/_editzz-*
!php.ini
!_db*.sh


## Custom
